<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Global Report</title>
    <link rel="stylesheet" href="/stylesheets/global/main.css" />
    <link rel="stylesheet" href="/stylesheets/global/list.css">
    <link rel="stylesheet" href="/stylesheets/admin/edit-global-report.css" />
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <main>
        <h1>Edit Your Report</h1>
        <p>Here, you can edit the global form that agencies fill out.</p>

        <br>
        <div id="questions"></div>
        <br><br>
        <div id="row">
            <button id="add">Add</button>
            <button id="save">Save</button>
        </div>
        <br><br><br>
    </main>

    <script>
        const accountType = '<%- accountType %>';
        const questions = JSON.parse('<%- JSON.stringify(questions) %>');
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/table-init.js"></script>
    <script src="/javascripts/admin.js"></script>
</body>

</html>