<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/admin/logs.css">
    <title>Admin Page</title>
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <!--<img src="/images/hd-hawaiian-beach.jpg" width="200px">-->
    <h1 id="log-header">Submitted Forms</h1>
    <p></p>
    <div class="background">
        <table class="table-content">
            <!-- Ask how to make an if statement for adding rows and columns. -->
            <thead>
                <tr class="no-touch">
                    <th>Agency Name</th>
                    <th>Project Name</th>
                    <th>Date Submitted</th>
                    <th>Review Status</th>
                </tr>
            </thead>
            <!--Example agency with filled out info-->
            <tr>
                <td>Department of Water</td>
                <td>Kakaako Plumbing</td>
                <td>10/14/22</td>
                <td id="pendingReviewText" style="color: red">Needs Approval</td>
                <td>
                    <button>Review</button>
                </td>
            </tr>
            <tr>
                <td>Department of Earth</td>
                <td>Awesome Sauce Plumbing</td>
                <td>10/12/22</td>
                <td id="pendingReviewText" style="color: green">Approved</td>
                <td>
                    <button>Review</button>
                </td>
            </tr>
            <tr>
                <td>Department of Fire</td>
                <td>Terrible Plumbing</td>
                <td>10/17/22</td>
                <td id="pendingReviewText" style="color: red">Needs Approval</td>
                <td>
                    <button>Review</button>
                </td>
            </tr>
        </table>
    </div>

    <script>
        const accountType = '<%- accountType %>';
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/sort-table.js"></script>
    <script src="/javascripts/admin.js"></script>
</body>

</html>