<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin-logs-page.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Admin Page</title>
</head>
 
<body>
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="50px" src="/images/logo.jpg" />
        </div>
    </section>
 
    <!--<img src="/images/hd-hawaiian-beach.jpg" width="200px">-->
    <h1 id="log-header">Submitted Forms</h1>
    <p></p>
    <div class="background">
        <table class="table-content">
            <!-- Ask how to make an if statement for adding rows and columns. -->
            <thead>
                <tr>
                    <th>Agency Name</th>
                    <th>Project Name</th>
                    <th>Date Submitted</th>
                    <th>Review Status</th>
                </tr>
            </thead>
            <!--Example agency with filled out info-->
            <tr>
                <td>Department of Water</td>
                <td>Kakaako Plumbing</td>
                <td>10/18/22</td>
                <td id="pendingReviewText" style="color: red">Needs Approval</td>
                <td>
                    <button>Review</button>
                </td>
            </tr>
            <tr>
                <td>Department of Earth</td>
                <td>Kakaako Plumbing</td>
                <td>10/18/22</td>
                <td id="pendingReviewText" style="color: green">Approved</td>
                <td>
                    <button>Review</button>
                </td>
            </tr>
            <tr>
                <td>Department of Water</td>
                <td>Kakaako Plumbing</td>
                <td>10/18/22</td>
                <td id="pendingReviewText" style="color: red">Needs Approval</td>
                <td>
                    <button>Review</button>
                </td>
            </tr>
        </table>
    </div>
 
    <script>
        const accountType = '<%- accountType %>';
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/admin.js"></script>
</body>
 
</html>