<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Reports</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/edit-style.css" />
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <main>
        <!-- Header -->
        <h1 id="title">Edit Your Form</h1>
        <p>Here, you can edit the global form that agencies fill out.</p>

        <!-- Original Form Questions -->
        <form class="originalFormQs">
            <h3 id="q1">1. Name of your Agency</h3>
            <h3 id="q2">2. Name of TOD Station Area</h3>
            <h3 id="q3">3. Project Name</h3>
            <h3 id="q4">4. Total Area of Project</h3>
            <h3 id="q5">5. Name of Project Location</h3>
            <h3 id="q6">6. Tax Map Key Numbers (If any)</h3>
            <h3 id="q7">7. Project Phase</h3>
            <h3 id="q8">8. Project Status</h3>
            <h3 id="q9">9. Date of Report</h3>
            <h3 id="q10">10. Phone Number</h3>
            <h3 id="q11">11. Email Address</h3>
        </form>

        <!-- Buttons -->
        <br />
        <button id="new-question">Add Another Question</button> <br />
        <button id="edit-question">Edit Current Questions</button> <br />
        <button id="save-button">Save</button>

        <!--  Background picture -->
    </main>

    <script>
        const accountType = '<%- accountType %>';
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/admin.js"></script>
</body>

</html>