<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/admin-home-style.css" />
</head>

<body>
    <!-----Navigation Bar----->
    <section id="navBar">
        <div id="bar">
            <img id="hidotLogo" height="50px" src="/images/logo.jpg" />
            <div class="content">
                <h3>Home</h3>
            </div>

            <div class="content">
                <h3>Reports</h3>
            </div>

            <div id="account">
                <img id="accountLogo" src="/images/account-logo.jpg" height="40px" style="padding-top: 20px" />
            </div>
        </div>
    </section>
    
    <main>
        <div>
            <h1>Admin Home Page</h1>
        </div>
        <div class="flex-container">
            <div id="edit-form" class="form-button">
                <img src="/images/edit-form.jpg" width="50px" />
                <button class="buttons" id="formsDir">Edit Global Forms</button>
            </div>
            <div id="view-form" class="form-button">
                <img src="/images/logs.jpg" width="50px" />
                <button class="buttons" id="logsDir">View Logs</button>
            </div>
        </div>
    </main>

    <script src="/javascripts/admin-home.js"></script>
</body>

</html>