<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/agent-home-style.css" />
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="50px" src="/images/logo.jpg" />
        </div>
    </section>

    <main>
        <h1>Agency Home Page</h1>
        <div class="background">
            <table class="table-content">
                <!-- Ask how to make an if statement for adding rows and columns. -->
                <thead>
                    <tr class="no-touch">
                        <th>Agency</th>
                        <th>Project Name</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <!--Example agency with filled out info-->
                <tbody>
                    <tr id="project1">
                        <td>Department of Water</td>
                        <td>Kakaako Plumbing</td>
                        <td>10/18/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                    <tr id="project2">
                        <td>Department of Fire</td>
                        <td>Fire Plumbing</td>
                        <td>10/13/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                    <tr id="project3">
                        <td>Department of Wind</td>
                        <td>Wind Plumbing</td>
                        <td>10/19/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                    <tr id="project4">
                        <td>Department of Earth</td>
                        <td>Earth Plumbing</td>
                        <td>10/11/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                    <tr id="project5">
                        <td>Department of Awesome</td>
                        <td>Awesome Plumbing</td>
                        <td>11/1/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                    <tr id="project6">
                        <td>Department of Garden</td>
                        <td>Garden Plumbing</td>
                        <td>10/19/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                    <tr id="project7">
                        <td>Department of Sitting</td>
                        <td>Sitting Plumbing</td>
                        <td>12/25/22</td>
                        <td>
                            <button>Open</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button id="add-button">Add</button>
        <br><br><br>
    </main>

    <script>
        const accountType = '<%- accountType %>';
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/agency.js"></script>