<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agentHomePage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-----Navigation Bar----->
    <section id="navBar">
        <div id="bar">
            <img id="hidotLogo" height="50px" src="/images/logo.jpg" />
            <div class="content">
                <h3>Home</h3>
            </div>

            <div class="content">
                <h3>Reports</h3>
            </div>

            <div id="account">
                <img id="accountLogo" src="/images/account-logo.jpg" height="40px" style="padding-top: 20px" />
            </div>
        </div>
    </section>
    <h1>Your Projects</h1>
    <div id="navbar">
        <a href="#home">Home</a>
        <a href="#news">Projects</a>
        <a href="#contact">Contact</a>
    </div>
    <div style="padding:15px 15px 2500px;font-size:30px">
        <p>Put an image(button) of project here.</p>
        <p>Another one here</p>
        <p>And another</p>
        <p><img src="/images/add-button.png" alt=""></p>
    </div>
    <script src="/javascripts/agent-home.js"></script>
</body>

</html>