<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">
</head>
 
<body>
    <!-- NAV BAR -->
 
    <!-- Header -->
    <h1 id="title"> Edit Your Form</h1>
 
    <!-- Original Form Questions -->
    <form class="originalFormQs">
        <h3 id="q1">1. Name of your Agency</h3>
        <input type="text" placeholder="Enter your Agency Name" autofocus></input>
        <h3 id="q2">2. Name of TOD Station Area</h3>
        <input type="text" placeholder="Enter the TOD Station Area" autofocus></input>
        <h3 id="q3">3. Project Name</h3>
        <input type="text" placeholder="Enter the Project Name" autofocus></input>
        <h3 id="q4">4. Total Area of Project </h3>
        <input type="numbers" placeholder="Enter the Area of the Project" autofocus></input>
        <h3 id="q5">5. Name of Project Location</h3>
        <input type="text" placeholder="Enter the Project Location" autofocus></input>
        <h3 id="q6">6. Tax Map Key Numbers (If any)</h3>
        <input type="numbers" placeholder="Enter th Tax Map Key Numbers" autofocus></input>
        <h3 id="q7">7. Project Phase</h3>
        <input type="text" placeholder="Enter the Project Phase" autofocus></input>
        <h3 id="q8">8. Project Status</h3>
        <input type="text" placeholder="Enter the Project Status" autofocus></input>
        <h3 id="q9">9. Date of Report</h3>
        <input type="date" placeholder="Enter the Date" autofocus></input>
        <h3 id="q10">10. Phone Number</h3>
        <input type="numbers" placeholder="Enter your Phone Number" autofocus></input>
        <h3 id="q11">11. Email Address</h3>
        <input type="email" placeholder="Enter your email" autofocus></input>
    </form>
 
    <!-- Buttons -->
    <br> <button class="btn new question">Add Another Question</button>
    <br> <button class="edit questions">Edit Current Questions</button>
    <hr>
    <button class="btn save">Save</button>
 
    <!--  Background picture -->
   
</body>
 
</html>