<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-----Navigation Bar----->
    <section id="navBar">
        <div id="bar">
            <img id="hidotLogo" height="50px" src="/images/logo.jpg" />
            <div class="content">
                <h3>Home</h3>
            </div>

            <div class="content">
                <h3>Reports</h3>
            </div>

            <div id="account">
                <img id="accountLogo" src="/images/account-logo.jpg" height="40px" style="padding-top: 20px" />
            </div>
        </div>
    </section>
    
    <div id="siNavBar">
        <nav><a href=""></a><a href=""></a></nav>
    </div>
    <div id="siHeadDiv">
        <h1 id="siHeader">Welcome to the TOD Project Reporting Site</h1>
        <p>The Office of Planning and Sustainable Development</p>
        <p>You are using an <%= accountType %> account.</p>
    </div>
</body>

</html>