extends layout

block content
    link(rel="stylesheet" href="/stylesheets/home.css")
    #siNavBar
        nav
            a(href='')
            a(href='')
    #siHeadDiv
        h1#siHeader Welcome to the TOD Project Reporting Site
        p The Office of Planning and Sustainable Development
    #siInputDiv
        p Sign In Here:
        input(|id='siUsername' type='text' placeholder='Username')
        input#siUPassword(type='text' placeholder='Password')
        button Submit