<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <!-----Main Body----->
    <div id="rectContainer">
        <div id="rectangle">
            <main id="loginContainer">
                <h1 id="loginH1">Welcome Back!</h1>
                <h2 id="loginH2">Please log in</h2>
                <form id="formID" action="/login" method="post">
                    <input id="nameInput" type="text" placeholder="Enter email" name="email" /><br />
                    <input id="passInput" type="password" placeholder="Enter password" name="pass" /><br /><br />
                    <div id="signup-container">
                        <p>Don't have an account?
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Contact TOD</a>
                        </p>
                    </div>
                    <button type="submit">Login</button>
                </form>
            </main>
        </div>
    </div>

    <script>
        const accountType = '<%- accountType %>';
    </script>
    <script src="/javascripts/nav-bar.js"></script>
</body>

</html>