<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <!-----Navigation Bar----->
    <section id="navBar">
      <div id="bar">
        <img id="hidotLogo" height="50px" src="/images/logo.jpg" />

        <div class="content">
          <h3>Home</h3>
        </div>

        <div class="content">
          <h3>Reports</h3>
        </div>

        <div id="account">
          <img
            id="accountLogo"
            src="/images/account-logo.jpg"
            height="40px"
            style="padding-top: 20px"
          />
        </div>
      </div>
    </section>

    <main>
      <h1>Welcome Back!</h1>
      <h2>Please log in</h2>
      <form action="/login" method="post">
        <input type="text" placeholder="Enter email" name="email" /><br />
        <input
          type="password"
          placeholder="Enter password"
          name="pass"
        /><br /><br />
        <div id="signup-container">
          <p>
            Don't have an account?
            <a
              href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
              target="_blank"
              rel="noopener noreferrer"
              >Sign up</a
            >
          </p>
        </div>

        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
