<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/global/main.css" />
    <link rel="stylesheet" href="/stylesheets/global/login.css" />
    <title>Profile</title>
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <!-----Main Body----->
    <div id="rectContainer">
        <div id="rectangle">
            <main id="loginContainer">
                <h1 id="loginH1">Account Type: <%- accountType %></h1>
                <form action="/profile" method="post" id="formID">
                    <button type="submit" style="width: 7rem;">Logout</button>
                </form>
            </main>
        </div>
    </div>

    <script>
        const accountType = '<%- accountType %>';
    </script>
    <script src="/javascripts/nav-bar.js"></script>
</body>

</html>