@font-face {
    font-family: "source-sans";
    src: url("/fonts/source-sans-pro-regular.ttf") format("truetype");
}

body {
    font-family: "source-sans";
    background-image: url("/images/background.jpg");
    background-attachment: fixed;
    color: #000;

}

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}


#logHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

th {
    text-align: left;
}

table,
th,
td {
    border: 1px solid #000;
}