@font-face {
    font-family:'source-sans';
    src: url(../fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3aP6TkmDZz9g.ttf) format("truetype");
}
body {
    font-family:'source-sans';
    background-image: url("../images/hd-hawaiian-beach.jpg");
    background-attachment: fixed;
    color: #000;
    display: flex;
    justify-items: center;
}

/*(#rectangle {
    display: flex;
    justify-content: center;
}*/
#rectContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#rectangle{
    width: 75%;
    height:1080px;
    background:white;
    overflow-y: scroll;
}

#logHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

th{
    text-align: left;
}

table, th, td {
    border:1px solid #000;
}