@font-face {
    font-family:'source-sans';
    src: url(../fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3aP6TkmDZz9g.ttf) format("truetype");
}
body {
    font-family:'source-sans';
    background-image: url("../images/hd-hawaiian-beach.jpg");
    background-attachment: fixed;
    color: #000;
    display: flex;
    justify-items: center;
}
#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#agencyFormPageHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#agencyFormQuestions{
    text-align: center;
}
#contactInfo{
    font-weight: bold;
}
#agencyFormSubmit{
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#agencyFormSubmit:hover{
    background-color: rgb(27, 130, 219);
}