.project-picture {
    margin: 5%;
}

button {
    padding: 12px 50px;
    border: none;
    border-radius: 5px;
    background-color: #3296ff;
}

button:hover {
    background-color: #267cd8;
}

h1 {
    font-size: 75px;
}

.project-picture {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

input:hover {
    outline: 2px solid grey;
}