/*---Global Style---*/
@font-face {
    font-family: "source-sans";
    src: url("/fonts/source-sans-pro-regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    /*background: #ffff;*/
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "source-sans",
        Arial;
    text-align: center;
}

/*-----Navigation Bar Styling-----*/
#nav-bar img {
    margin: none;
    padding-top: 10px;
}

#bar {
    display: flex;
    gap: 25px;
    background-color: rgb(50, 150, 255);
    padding-left: 10px;
    padding-right: 10px;
}

.content {
    padding-left: 25px;
    padding-right: 25px;
}

.content:hover {
    transition-duration: 0.4s;
    background-color: rgb(25, 125, 255);
}

#account {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
}

#account img:hover {
    position: relative;
    top: -5px;
}