@font-face {
    font-family: "source-sans";
    src: url("/fonts/source-sans-pro-regular.ttf") format("truetype");
}

body {
    margin-bottom: 50px;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#agencyFormQuestions {
    font-weight: bold;
}

#prePlanningBtn,
#planningBtn {
    font-weight: normal;
}

#projectBudget {
    padding: 12px 20px;
    width: 10%;
    border-radius: 10px;
    outline: none;
    transition: width 0.4s ease-in-out;
}

#ddPlaceHolder {
    color: grey;
}

select {
    width: 20%;
    height: 20%;
}

option:first {
    color: #999;
}

input,
#projectBudget,
#status {
    padding: 12px 20px;
    width: 20%;
    border-radius: 10px;
    outline: none;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #3296ff;
    padding: 10px 15px;
    margin: 5px;
}