<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/agency/report.css" />
    <title>Document</title>
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <div id="agencyFormQuestions">
        <h1 id="agencyFormPageHeader">Submit a Report</h1>
        <p>Please fill out the form with accurate information.</p>
        <p id="redAstericks" style="color: red;">* means required field</p>
        <p>1. Name of Agency <span style="color:red">*</span></p>
        <input id="agency" type="text" placeholder="Name">
        <p>2. Phone Number <span style="color:red">*</span></p>
        <input id="contact" type="tel" placeholder="Phone Number">
        <p>3. Email Address <span style="color:red">*</span></p>
        <input id="email" type="text" placeholder="Email Address">
        <p>4. Name of TOD Station Area <span style="color:red">*</span></p>
        <input id="stationArea" type="text" placeholder="Station Area Name">
        <p>5. Project Name <span style="color:red">*</span></p>
        <input id="projectName" type="text" placeholder="Project Name">
        <p>6. Total Area of Project <span style="color:red">*</span></p>
        <input id="totalArea" type="number" placeholder="Number of Acres">
        <p>7. Name of Project Location <span style="color:red">*</span></p>
        <input id="location" type="text" placeholder="Location Name">
        <p>8. (If any) Tax Map Key Numbers</p>
        <input id="tmk" type="number" placeholder="Tax Map Key Numbers">
        <p>9. Project Phase <span style="color:red">*</span></p>
        <select id="phase" name="projectPhase" placeholder="Select One">
            <option id="ddPlaceHolder" disabled selected>Select One</option>
            <option value="prePlanning">Pre-Planning</option>
            <option value="planning">Planning</option>
            <option value="design">Designing</option>
            <option value="construction">Construction</option>
            <option value="completed">Completed</option>
        </select>
        <p>10. Current Project Budget</p>
        <input id="budget" type="text" placeholder="Budget for current fiscal year">
        <p>11. Project Status</p>
        <textarea id="status" name="text" rows="2" cols="50" placeholder="Type project narrative here"></textarea>
        <br>
        <br>
        <br>
        <button id="submitReport">Submit</button>
    </div>

    <!--
    Contact information: Phone Number: [numbers only textbox. Try to make it auto put in dashes]
    Email Address: [textbox]
    -->

    <script>
        const accountType = '<%- accountType %>';
        const report = JSON.parse('<%- JSON.stringify(report) %>');
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/sort-table.js"></script>
    <script src="/javascripts/agency.js"></script>
</body>

</html>