<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Home</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/agency/view-reports.css" />
</head>

<body>
    <!-----Navigation Bar----->
    <section id="nav-bar" class="no-touch">
        <div id="bar">
            <img id="hidotLogo" height="40px" src="/images/logo.jpg" />
        </div>
        <h1 id="divider" style="top: -42px;"></h1>
    </section>
    <div style="margin-top: 60px;"></div>

    <main>
        <h1>Agency Home Page</h1>
        <div class="background">
            <table class="table-content">
                <thead>
                    <tr class="no-touch">
                        <th></th>
                        <th id="projectName">Project Name</th>
                        <th id="budget">Budget</th>
                        <th id="phase">Phase</th>
                        <th id="date">Date Created</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="main-table"></tbody>
            </table>
        </div>
        <button id="add-button">Add</button>
        <br><br><br>
    </main>

    <script>
        const accountType = '<%- accountType %>';
        const allReports = JSON.parse('<%- JSON.stringify(allReports) %>');
    </script>
    <script src="/javascripts/nav-bar.js"></script>
    <script src="/javascripts/sort-table.js"></script>
    <script src="/javascripts/agency.js"></script>
</body>